html{

    padding: 15px;

}

body{

    background-image: url(../img/fondo_marvin.jpg);

}

.text{

    color: antiquewhite;
    font-weight: bold;

}

.block{

    margin-top: 15px;
    background: rgb(0, 0, 0, 0.4);
    padding: 5px;

}